src/main/mule/global/travelontip-external-system.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="travelontip-external-systemFlow"
		doc:id="1be005ec-f8cf-4d2f-9b4b-2467bd364085">
		<http:listener doc:name="Listener"
			doc:id="79cc4159-2b67-49bc-ae5f-c8669af60d85"
			config-ref="HTTP_Listener_config1" path="${http.listener.path}" />
		<logger level="INFO" doc:name="Logger" doc:id="c7054908-ef7e-49ca-adf9-d639046fdbe5" message="Request Received for travelOnTip external system for transactionId: #[attributes.headers.transactionId]"/>
		<ee:transform doc:name="Transform Message" doc:id="e2f491e0-d3a5-401f-a448-70a3d81ea4ec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="serviceType" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="c1aa72fc-d04a-4d11-b963-e047ad27b084" >
			<when expression='#[vars.serviceType=="routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="bcf3572a-e860-4f68-a1ac-f4335d4143e3" message="routes flow called for travelOnTip external system for transactionId: #[attributes.headers.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="969817bd-e1ad-400f-b904-2774d2b9a7b4" name="TravelOnTip-GetRoutes-implementationFlow"/>
			</when>
			<when expression='#[vars.serviceType=="schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="31d7c8c6-aa06-462f-9477-8a2eab5fac52" message="Schedules flow called for travelOnTip external system for transactionId: #[attributes.headers.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="a3aade87-a1cc-429d-a295-561edd459b15" name="TravelOnTip-GetSchedules-implementationFlow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="95335942-adba-4295-9431-8bfca223601a" message="Uir Parameter is Not Correct for travelOnTip external system for transactionId: #[attributes.headers.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="740347bf-2615-4538-8c6f-9824b71e9022" message="Response sent for travelOnTip external system  for transactionId: #[attributes.headers.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0613e0f9-d6b1-40fd-bd99-34051224f6d6" >
				<logger level="INFO" doc:name="Logger" doc:id="ac13da25-89a6-4d6a-8a23-95ce6de89307" message="Error occured for travelOnTip external system"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
